.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #e6e6e6;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 18px;
  box-sizing: border-box;
  transition: all 0.3s linear;
  border-radius: 0.3rem;
  margin-top: 18px;
}
.card:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}
.card-header {
  background-color: #17a2b8;
  width: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 1.2;
}
.card-title {
  font-weight: 700;
  font-size: 0.7rem;
  margin-top: 10px;
  }
.card > p {
  font-size: 12px;
  margin-bottom: 20px;
  }
.card:first-child {
  height: 420px;
  }  


body{
  background: #f4f4f4;
}
.navbar{
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}

.navbar {
  background-color: #e74c3c;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #ffbbbc;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffbbbc; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffbbbc;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-toggle {
  border-color: #c0392b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}




@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffbbbc;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffbbbc;
  background-color: #c0392b;
}

.main-color-bg{
    background-color: #e74c3c !important;
    border-color: #c0392b !important;
    color: #ffffff !important;
    width: 100%;
}
.progress-bar{
    background: #333333;
    color: #ffffff;
}
.dash-box{
    text-align: center;
}


.form-group {
  max-width: 180px;
  display: inline-block;
  margin: 6px;
}

.custom-select {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #17a2b8
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.3rem;
  font-size: 0.7rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.radio-btn-container {
margin-top: 10px;
}

.list-group {
line-height: 25px;
margin-bottom: 15px;
}
.list-group-item {
padding-top: 0.5rem;
padding-bottom: 0.15rem;

}
.list-group-item.active {
line-height: 1;
}
.list-group-item.active > h5{
font-size: 1em;
}
.badge {
padding: 0.5em;
font-size: 70%;
font-weight: 700;
min-width: 25%;
float: right;
margin-right: 15px;
}
.bikeshare {
font-size: 1rem;
font-weight: 600;
line-height: 1;
padding-bottom: 0.6rem;
padding-top: 0.6rem;
}
.json-to-table table {
font-size: 0.7rem;
color: darkslategrey;
margin-top: 15px;
margin-bottom: 10px;
}

.row {
margin-left: 0;
margin-right: 0;
}
.small span {
  font-weight: 700;
  text-transform: uppercase;
}
